<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/styles/style.css" type="text/css" rel="stylesheet"/>
        <title>Ajouter</title>
    </head>
    <body>
        <h1>Formulaire</h1>
        <div>
          <form id="addForm">
            <% inputs.forEach(val=>{%>
              <label for=<%= val.label %> ><%= val.label %></label>
              <input type=<%= val.type %> id= <%= val.label %> id=<%= val.name %>>
              <span class="error"><%=val.error%></span>
            <% })%>           
              <input type="submit" value="Enregistrer">
            </form>
        </div>
    </body>
    </html>
    <script type="text/javascript" src="/utils/addService.js"></script>
