<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="./styles/style.css" type="text/css" rel="stylesheet"/>
        <title>List</title>
    </head>
    <body>
        <h1>Hebdomadaire planning</h1>
        <table>
            <thead>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Module</th>
                        <th>Prof</th>
                        <th>Niveau</th>
                        <th>Date</th>
                        <th>Salle</th>
                        <th colspan="2">Action</th>
                    </tr>
                </thead>
            </thead>
            <tbody>
                <% list.forEach(val=>{%>
                    <tr>
                        <td><%= val.id %><td>
                        <td><%= val.module %><td>
                        <td><%= val.prof %><td>
                        <td><%= val.niveau %><td>
                        <td><%= val.date_ %><td>
                        <td><%= val.salle %><td>
                        <td><button onclick="`()=>deleteRecord(<%=val.id%>)`">del</button></td>
                        <td><button onclick="`()=>modifyRecord(<%=val.id%>)`">mod</button></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </body>
    <script type='text/javascript' src='/utils/func.js'></script>
</html>
