<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="./styles/style.css" type="text/css" rel="stylesheet"/>
        <title>List</title>
    </head>
    <body>
        <div id="container">
            <nav>
                <a href="/">Accueil</a>
                <a href="/viewPlan">List EDT</a>
            </nav>

        <h1>Hebdomadaire planning</h1>
        <div id="tableContainer">

        <table> 
             <thead>
                <tr>
                    <th>ID</th>
                    <th>Module</th>
                    <th>Enseignant</th>
                    <th>Credit</th>
                    <th>Niveau</th>
                    <th>Date</th>
                    <th>Salle</th>
                    <th colspan="2">Action</th>
                </tr>
            </thead>
            <tbody>
                <% list.forEach(val=>{%>
                    <tr>
                        <td><%= val.id %></td>
                        <td><%= val.module %></td>
                        <td><%= val.prof %></td>
                        <td><%= val.credit %></td>
                        <td><%= val.niveau %></td>
                        <td><%= val.date_ %></td>
                        <td><%= val.salle %></td>
                        <td><button onclick="deleteRecord(<%=val.id%>)">del</button></td>
                        <td><button onclick="modifyRecord(<%=JSON.stringify(val)%>)">mod</button></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>            
         </div>
    </div>
    </body>
    <dialog id="modifyDialog">
        <form id='dialogForm' method="dialog" >
            <h2>Modification</h2>
        <label>Enregistrement</label>
        <input type="number" id="idRecord" name="id" value=""disabled/>
        <label for="module">Module</label>
        <input type="text" id="module" name="module" value=""required/>
        <label for="enseignant">Enseignant</label>
        <input type="text" id="enseignant" required value="" name="prof"/>
        <label for="credit">Credit</label>
        <input type="number" id="credit" required  value="" name="credit"/>
        <label for="niveau">Niveau</label>
        <input type="text" id="niveau" required value=""name="niveau"/>
        <label for="dateRecord">Date</label>
        <input type="date" id="dateRecord" required value="" name="date_"/>
        <label for="dateRecord" >Salle</label>
        <input type="text" id="salle" name="salle" value="" required/>
      <menu>
        <button id="cancelBtn">Annuler</button>
        <button id="confirmBtn" value="default">Confirmer</button>
      </menu>
    </form>
  </dialog>
    <script type='text/javascript' src='/utils/func.js' ></script>
</html>