<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="./styles/style.css" type="text/css" rel="stylesheet"/>
        <script type='text/javascript' src='/utils/func.js'></script>
        <title>List</title>
    </head>
    <body>
        <h1>Hebdomadaire planning</h1>
        <table> 
             <thead>
                <tr>
                    <th>ID</th>
                    <th>Module</th>
                    <th>Prof</th>
                    <th>Credit</th>
                    <th>Niveau</th>
                    <th>Date</th>
                    <th>Salle</th>
                    <th colspan="2">Action</th>
                </tr>
            </thead>
            <tbody>
                <% list.forEach(val=>{%>
                    <tr>
                        <td><%= val.id %></td>
                        <td><%= val.module %></td>
                        <td><%= val.credit %></td>
                        <td><%= val.prof %></td>
                        <td><%= val.niveau %></td>
                        <td><%= val.date_ %></td>
                        <td><%= val.salle %></td>
                        <td><button onclick="deleteRecord(<%=val.id%>)">del</button></td>
                        <td><button onclick="modifyRecord(<%=JSON.stringify(val)%>)">mod</button></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </body>
</html>
<dialog id="modifyDialog">
    <form method="dialog" >
        <h2>Modification</h2>
        <h3>enregistrement n°<span id="idRecord"></span></h3>
        <label for="module">Module</label>
        <input type="text" id="module" required/>
        <label for="enseignant">Enseignant</label>
        <input type="text" id="enseignant" required/>
        <label for="credit">Credit</label>
        <input type="number" id="credit" required/>
        <label for="niveau">Niveau</label>
        <input type="text" id="niveau" required/>
        <label for="dateRecord">Date</label>
        <input type="date" id="dateRecord" required/>
      <menu>
        <button value="cancel">Annuler</button>
        <button id="confirmBtn" value="default">Confirmer</button>
      </menu>
    </form>
  </dialog>